footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-secondary);
    color: rgb(188, 188, 188);
    text-align: center;
    height: 75px;
}


.footer-text{
    font-size: 1rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

