.navbar {
  background-color: rgb(255, 145, 145);
  height: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: all 0.2s ease;
  font-weight: 600;
  padding: 0px 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.150);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}

.container {
  z-index: 1;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar-logo {
  color: var(--navbar-text-color);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  height: var(--navbar-height);
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  transition: all 0.2s ease;
  border-bottom: 5px solid rgba(0, 0, 0, 0);
}

.nav-links {
  color: var(--navbar-text-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 400;
}

.fa-bars {
  color: black;
}

.menu-icon {
  display: none;
  color: var(--navbar-text-color);
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    height: var(--navbar-height);
  }
  .navbar-container {
    height: var(--navbar-height);
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: var(--navbar-height);
    left: -100%;
    opacity: 1;
    transition: all 0.3s ease;
    margin: 0;
  }

  .nav-menu.active {
    background:  var(--primary);
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
    padding-left: 0;
  }

  .nav-links {
    text-align: center;
    padding: 0.2rem 0.2rem;
    align-items: center;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: var(--secondary);
    transform: scale(1.04);
    transition: all 0.1s ease;
  }

  .nav-item:hover {
    border: none;
    font-size: 1.5rem;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--primary);
  }

  .fa-times {
    color: var(--navbar-text-color);
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
