.drinkCard{
background-color: var(--background);
  padding: 0 !important;

  border-radius: 3px;
  width: 100%; 
  display: grid;
  grid-template-columns: 150px 1fr !important;
  margin-top: 15px;
  border: 1px solid hsla(0, 0%, 50%, 0.45);
  border-radius: 6px;
 
}



.drink-title{
    font-weight: 600 !important;
    font-size: 1.25rem !important;

}
.cardsection1{
    /* display: block; */
    /* grid-column: span 1; */
}

.cardsection2{
    display: block;
    

}

.cardsection3{

}



.drinkCard li{
    list-style: none;
    
}
.card a{
    text-decoration: none !important;
    color: black !important;

}
.cardImage{
    width: 100px;
    height: auto;
    margin: 0;
    border-radius: 10%;
    

}



    

.grid-item{
    padding: 10px;
}

p{
    padding: 0;
}

#ingredient-text{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.724);
}