

.drinkViewImage{
    width: 80%;
    border-radius: 50%;
    margin: auto;
  width: 100%;
  padding: 10px;
    

}


.drinkdetails{
    font-weight: 600 !important;
   
    color: var(--text-accent);
    font-size: .9rem !important;
}

.ingredients{
    font-weight: bold;
    color:var(--text-accent);
}