.drinkCard{
    background-color: var(--background);
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.428);
  margin: 15px;
  border-radius: 6px;
  height: 300px;
  width: 200px;
  display: block;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.262);
}
.drinkCard li{
    list-style: none;
    
}
.cardImage{
    width: 200px;
    height: 200px;

}

h1{
    font-size: 30%;
}