.grid-container {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  align-items: top;
}

.grid-item {
  width: 35vw;
  border: 0px white solid;
  padding: 20px;
}

.img {
  width: 30vw;
  height: 30vw;
}

@media screen and (max-width: 960px) {
  .grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
  }

  .grid-item {
    width: 60vw;
    padding: 20px;
  }
}
