.grid-container {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  align-items: top;
}

.grid-item {
  border: 0px white solid;
  padding: 20px;
  width: 39vw;
}

.page {
  min-height: 40vh;
}

.thumbnail {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .grid-container {
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
  }

  .grid-item {
    width: 60vw;
    padding: 20px;
  }
}

.randomButton {
  padding: 30px 60px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;

  white-space: nowrap;
  color: white;
  background-color: var(--primary);
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: center;
}

.instructions {
  font-weight: 300;
  font-size: 1.2rem;
}
