input {
  width: 20%;
  padding: 12px;

}

.results{
  display:flex;
  align-items: center;
  width: 100%;

}
.search-options-container{
  text-align: left;
  /* display: grid; */
  width: 100%;
  /* grid-template-columns: 1fr 1fr; */
 
}

label{
  text-align: left;
  
}
.searchcontent{
  padding: 0 !important;
  margin: 0 !important;

}




@media screen and (max-width: 500) {
  .search-options-container{
    text-align: grid;
    grid-template-columns: 1;
    grid-auto-rows: 100%;
    
  }


}
