:root {
  --primary:#FF9292 ;
  --secondary: #FFB4B4;
  --primary-accent: #b46060;
  --background:#efe0e0;
  --background-secondary: 3C415C;
  --foreground: #5a5a5a;
  --text-color: black;
  --navbar-text-color: white;

  --navbar-height: 65px;


/* GREEN THEME 
  --primary: rgb(55, 128, 40);
  --secondary: rgb(60, 179, 70);
  --background: #0f0f0f;
  --background-secondary: #1f1f1f;
  --foreground: #5a5a5a;*/
}
body {
  height: 100% !important; 
  background-color: var(--background);
  color: var(--text-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500 !important ;
  line-height: 120%;
  


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100% !important;
  background-color: var(--background);
}

hr{
  border-radius: 0;
}

a {
  color: rgb(0, 68, 255);
}
a:hover{
  color: var(--secondary) !important; 
}

code {
  font-family: "Oxygen", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  font-size: 1rem;
}
.flexbox-container{

  justify-content: space-between;
  display:flex;


  
}

@media screen and (max-width: 960px) {
  .flexbox-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
  }
}

  #inputfield{
    padding: 0px !important;
    height: 38px !important;
    padding-top: 2px; 
    vertical-align: center !important;

  }
label{
  padding: 2px;
   text-align: center;
   vertical-align: center !important;
}

.btn-primary{
  background-color: var(--primary) !important;
  border-color: var(--primary-accent) !important;
  font-weight: 600 !important;
  vertical-align: center;
}

