:root {
  --primary:#8d336f ;
  --secondary: #FFB4B4;
  --primary-accent: #b46060;
  --background:#ffffff;
  --background-secondary: #f7f0f2;
  --foreground: #5a5a5a;
  --text-color: rgb(220, 204, 204);
  --text-accent: rgb(84, 84, 84);
  --navbar-text-color: white;
  --navbar-height: 65px;


/* GREEN THEME 
  --primary: rgb(55, 128, 40);
  --secondary: rgb(60, 179, 70);
  --background: #0f0f0f;
  --background-secondary: #1f1f1f;
  --foreground: #5a5a5a;*/
}

html body{
  margin: 0;
  height: 100%;
  
 
}
Button{
  border-radius:20px !important;
}


body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  max-height: fit-content;
  background: rgb(228,228,228);
  background: linear-gradient(180deg, rgb(220, 220, 220) 0%, rgba(252,252,252,0) 100%);

  color: var(--text-color);
  margin: 0;


  font-family: "Public Sans", sans-serif !important;
  font-weight: 500 ;
  line-height: 120%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  height: 100% !important;
  background-color: var(--background);
}
p{
  font-weight: 500 !important; 
  font-size: 14px;
}
h1{
  font-weight:700 !important;
  font-size: 1.5rem !important;
}
h2 {
  font-weight: 700 !important;
  color:rgb(69, 69, 69);
  font-size: 1.1rem !important;
}


hr{
  border-radius: 0;
}

a {
  
}






a:hover{
  color: var(--secondary) !important; 
}

code {
  font-family: "Oxygen", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.card{
  background-color: var(--background) !important;
  border: 0px solid rgba(255, 255, 255, 0) !important;

}



.container {
  max-width: 100% !important;
  margin: 0px 0px 0px 0px !important;
}
.row{
  max-width: 100% !important;
  

}


.flexbox-container{
  
  display:flex;
  gap: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
    /* .flexbox-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    } */
}

  /* #inputfield{
    padding: 2px !important;
    height: 35.5px !important;
    padding-top: 2px; 
    border:1px solid grey;
    vertical-align: center !important;
    border-radius: 3px;
} */

  


.btn--primary{
  background-color: var(--primary)!important;
  color: white !important;
  font-weight: 700 !important;
  margin: 10px 0 !important;
  border-radius: 10px !important;
  
}




.grid-container {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  align-items: top;
  width: 100vw;
  grid-template-columns: repeat(4, 100px) !important;
}



select{
  height: 30px !important;
  padding-top: 2px; 
  border:1px solid grey;
  vertical-align: center !important;
  border-radius: 3px;
}



