:root {
  --primary:#FF9292 ;
  --secondary: #FFB4B4;
  --background:#fff6f6;
  --background-secondary: 3C415C;
  --foreground: #5a5a5a;
  --text-color: black;
  --navbar-text-color: white;

  --navbar-height: 65px;


/* GREEN THEME 
  --primary: rgb(55, 128, 40);
  --secondary: rgb(60, 179, 70);
  --background: #0f0f0f;
  --background-secondary: #1f1f1f;
  --foreground: #5a5a5a;*/
}
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  line-height: 120%;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr{
  border-radius: 0;
}

a {
  color: rgb(0, 68, 255);
}

code {
  font-family: "Oxygen", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h3 {
  font-size: 1rem;
}